a{
    text-decoration: none;
    color: #4a4a4a;
    font-size: 18px;
}

h2{
    text-align: center;
}

.teamLogo{
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.form-check{
    margin: 10px 2px;
}

#cancel{
    background: none;
    border: none;
    float: left;
}

#cancel:hover{
    cursor: pointer;
}

#team{
    color: #4a4a4a;
    margin-right: 20px;
}

.add-button{
    display: flex;
}

#addTeam{
    background: #70AE6E;
    border-radius: 50%;
    border: none;
    padding: 15px;
    margin-bottom: 20px;
}

#addTeam:hover{
    cursor: pointer;
    background: #4a4a4a;
}



#addTeam img{
    width: 25px;
    height: 25px;
}

#cancelImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #4a4a4a;
    margin-left: 20px;

}

#leagues{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    clear: both;
    width: 90%;
    border: 2px solid rgba(74, 74, 74, .5);
    padding: 50px;
}



.submitButton{
    text-align: center;
    margin: 20px;
}

form{
    text-align: -webkit-center;
}

.form-check{
    display: flex;
    align-content: center;
}

.teamLabel{
    display: flex;
    align-content: center;


}





.saveButton{
    width: 30%;
    background: white;
    color: #4a4a4a;
    background: none;
    padding: 10px;
    height: 50px;
    font-family: 'Oakes';
    font-size: 18px;
    border: 1px solid rgba(74, 74, 74, .5);
}

.saveButton:hover{
    color: white;
    background: #70AE6E;
    cursor: pointer;
}


@media only screen and (max-width: 400px) {
.teamLogo{
    height: 20px;
    width: 20px;
}
}


@media only screen and (max-width: 900px) {

.form-check{
    justify-self: center;
}

}